<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>IBK 온라인 입점 소상공인 부대출</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
<link rel="stylesheet" href="assets\css\import.css">

</head>
<body>
<!-- Wrapper -->
<div class="wrapper">
    <!-- header -->
    <header class="header-wrap">
        <!-- header -->
        <div class="header">
            <button type="button" class="btn btn-back">
                <span class="blind">뒤로가기</span>
            </button>
            <div class="h-title">
                <span>보증취급 제한업종 안내</span>
            </div>
            <button type="button" class="btn btn-close">
                <span class="blind">닫기</span>
            </button>
        </div>
        <!-- // header -->
    </header>
    <!-- // header -->

    <!-- container -->
    <div class="container">
        <!-- content -->
        <div class="content">
            <!-- content내용 -->
            <div class="content-body">
                <!-- content-top -->
                <div class="content-top pad-b0">
                    <div class="inp-block">
                        <div class="inp-wrap">
                            <input type="text" class="inp type01 min-w-auto" placeholder="업종명">
                        </div>
                        <button type="button" class="btn btn-md btn-default left-inp">
                            <span class="txt">검색</span>
                        </button>
                    </div>
                </div>
                <!-- //content-top -->
                <!-- section -->
                <div class="section pad-0">
                    <div class="tbl-wrapper">
                        <table class="tbl-wrap">
                            <caption>
                                보증취업 제한 업종코드, 업종명 표
                            </caption>
                            <colgroup>
                                <col style="width:100px;">
                                <col style="width:auto;">
                            </colgroup>
                            <thead class="border">
                                <tr>
                                    <th scope="col">업종 코드</th>
                                    <th scope="col">업종명</th>
                                </tr>
                            </thead>
                            
                            <tbody class="first-blue">
                                <!-- span.txt-data을 a태그로 변경 가능 -->
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="txt-data">G47841</span>
                                    </td>
                                    <td>
                                        <span class="txt-data">예술품 및 골동품 소매업</span>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
                <!-- //section -->
            </div>
            <!-- //content내용 -->  
        </div>
        <!-- // content -->
    </div>
    <!-- // container -->
</div>
<!-- //wrapper -->
</body>
</html>